{% extends 'base.html.twig' %}
{% block stylesheets%}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
{% endblock %}
{% block body %}
    <h1>Notification</h1>
    {{ receiver }} vient de réserver une place sur votre vol.
{% endblock %}
