{% extends 'email/layout.html.twig' %}
{% block stylesheets%}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
{% endblock %}
{% block body %}
    <h1>Réservation</h1>
        Votre réservation est enregistrée.<br/>Merci de voyager avec Flyaround
{% endblock %}